.search-container {
  position: relative;
  display: inline-block;
  width: 400px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.search-input {
  padding-left: 35px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 38px;
}

.search-input::placeholder {
  color: #6c757d;
}

ul > li > ul{
    color: green;
    background-color: white;
    border-left: 4px solid green !important;
}







