/* index.css */
body, html {
    height: 100%;
    margin: 0;
}

#wd-kanbas-navigation {
    height: 100vh; /* Full viewport height */
}

.list-group-item {
    padding: 10px 15px;
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-black {
    background-color: #000 !important;
}

.bg-white {
    background-color: #fff !important;
}

.text-white {
    color: #fff !important;
}

.text-danger {
    color: #dc3545 !important;
}

.fs-1 {
    font-size: 1.25rem;
}

.neu-logo {
    width: 72px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
